---
import Layout from "../layouts/Layout.astro";
import { pageContainer, pageTitle } from "../styles/common.css";
import ItemToolbar from "../components/items/ItemToolbar.astro";
import ItemForm from "../components/items/ItemForm.astro";
import ItemTable from "../components/items/ItemTable.astro";
import HtmxLoading from "../components/items/HtmxLoading.astro";
---

<Layout>
  <main class={pageContainer}>
    <h1 class={pageTitle}>
      品目管理
    </h1>

    <div x-data="{ open: false }">
      <ItemToolbar />
      <ItemForm />
    </div>

    <ItemTable />
    <HtmxLoading />
  </main>
</Layout>
