---
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { pageTitle } from "../styles/common.css";
import CrudToolbar from "../components/crud/CrudToolbar.astro";
import CrudTable from "../components/crud/CrudTable.astro";
import CrudForm from "../components/crud/CrudForm.astro";
import HtmxLoading from "../components/crud/HtmxLoading.astro";
import TransactionSearch from "../components/transactions/TransactionSearch.astro";
import { txColumns, txEntity } from "../entities/transactions";
---

<Layout>
  <main class={css({ maxWidth: "1000px", mx: "auto", py: "8", px: "4" })}>
    <h1 class={pageTitle}>取引管理</h1>

    <div x-data="{ open: false }">
      <CrudToolbar
        baseUrl="/api/transactions"
        bodyTargetId="tx-body"
        tableId="tx-table"
        searchContainerId="tx-search"
      />
      <CrudForm columns={txColumns} entity={txEntity} />
    </div>

    <TransactionSearch />
    <CrudTable
      columns={txColumns}
      bodyId="tx-body"
      baseUrl="/api/transactions"
      paginationId="tx-pagination"
      tableId="tx-table"
    />
    <HtmxLoading />
  </main>
</Layout>
