---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import { pageContainer, pageTitle } from "../styles/common";
import CrudToolbar from "../components/crud/CrudToolbar.astro";
import CrudTable from "../components/crud/CrudTable.astro";
import CrudForm from "../components/crud/CrudForm.astro";
import SearchPanel from "../components/crud/SearchPanel.astro";
import {
  get取引カラム,
  fetch取引区分オプション,
  取引エンティティ,
} from "../features/取引";

const txTypeOptions = await fetch取引区分オプション();
const 取引カラム = get取引カラム(txTypeOptions);
---

<Layout>
  <main class={pageContainer}>
    <Nav current="transactions" />
    <h1 class={pageTitle}>取引管理</h1>

    <SearchPanel entity={取引エンティティ} />

    <div x-data="{ open: false }">
      <CrudToolbar
        baseUrl="/api/取引"
        bodyTargetId="tx-body"
        tableId="tx-table"
        searchContainerId="tx-search"
      />
      <CrudForm columns={取引カラム} entity={取引エンティティ} />
    </div>

    <CrudTable
      columns={取引カラム}
      bodyId="tx-body"
      baseUrl="/api/取引"
      paginationId="tx-pagination"
      tableId="tx-table"
    />
  </main>
</Layout>
