---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import HeaderBodyForm from "../../components/header-body/HeaderBodyForm.astro";
import { BOMヘッダーボディ } from "../../features/BOM/gen-go.config";
import { pageContainer, pageTitle } from "../../styles/common";
---

<Layout title="BOM登録">
  <main class={pageContainer}>
    <Nav current="boms" />
    <h1 class={pageTitle}>BOM登録</h1>
    <HeaderBodyForm config={BOMヘッダーボディ} mode="create" />
  </main>
</Layout>
