---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import BomForm from "../../components/BOM/BomForm.astro";
import { pageContainer, pageTitle } from "../../styles/common";
---

<Layout>
  <main class={pageContainer}>
    <Nav current="boms" />
    <h1 class={pageTitle}>BOM登録</h1>
    <BomForm mode="create" />
  </main>
</Layout>
