---
import { css } from "../../../styled-system/css";
import { inputStyle } from "../../styles/common.css";
---

<div id="items-search" class={css({ mb: "4" })}>
  <input
    type="search"
    name="q"
    placeholder="品目コード・品目名・カテゴリで検索…"
    class={inputStyle}
    hx-get="/api/items"
    hx-trigger="input changed delay:300ms, search"
    hx-target="#items-body"
    hx-swap="innerHTML"
    hx-vals='{"page": "1"}'
  />
</div>
