---
import type { Item } from "../../db/schema";
import { css } from "../../../styled-system/css";
import ItemRow from "./ItemRow.astro";

interface Props {
  items: Item[];
}

const { items } = Astro.props;

const emptyCell = css({ textAlign: "center", py: "4" });
---

{items.length === 0 ? (
  <tr><td colspan="4" class={emptyCell}>品目がありません</td></tr>
) : (
  items.map((item) => <ItemRow item={item} />)
)}
